wheel
aiofiles
aiohttp
anyio
asgiref
async-lru
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
click
colorama
configparser
db0mb3r
fastapi
gTTS
h11
httpcore
httpx
idna
Jinja2
loguru
MarkupSafe
multidict
phonenumbers
pyaes
pydantic
pyrogram==1.4.16
PySocks
random-user-agent
requests
rfc3986
six
sniffio
soupsieve
starlette
TgCrypto
typing-extensions
urllib3
uvicorn
wget
wikipedia
win32-setctime
yarl
youtube-dl
pygments
ffmpeg-python
pymongo
pytube
click
pymongo[srv]
dnspython
requests
environs
GitPython
telegraph